<section class="classes">
    <div class="subtitle">
        <h1 id="mark-attendance">Mark Attendance</h1>
    </div>
    <div class="btech">
        <div class="btech-1">
            <h3>B.Tech</h3>
            <p>( Bachelor of Technology )</p>
            <h4>Ist year</h4>
        </div>
        <div class="btech-2">
            <h3>B.Tech</h3>
            <p>( Bachelor of Technology )</p>
            <h4>2nd year</h4>
        </div>
        <div class="btech-3">
            <h3>B.Tech</h3>
            <p>( Bachelor of Technology )</p>
            <h4>3rd year</h4>
        </div>
        <div class="btech-4">
            <h3>B.Tech</h3>
            <p>( Bachelor of Technology )</p>
            <h4>4th year</h4>
        </div>
    </div>

    <div class="mtech">
        <div class="mtech-1">
            <h3>M.Tech</h3>
            <p>( Bachelor of Technology )</p>
            <h4>Ist year</h4>
        </div>
        <div class="mtech-1">
            <h3>M.Tech</h3>
            <p>( Bachelor of Technology )</p>
            <h4>2nd year</h4>
        </div>
    </div>

    <div class="mca">
        <div class="mca-1">
            <h3>MCA</h3>
            <p>( Bachelor of Technology )</p>
            <h4>Ist year</h4>
        </div>
        <div class="mca-1">
            <h3>MCA</h3>
            <p>( Bachelor of Technology )</p>
            <h4>2nd year</h4>
        </div>
    </div>
</section>


<!-- ============================= Showing Attendance =============================  -->
<div class="show">
    <div class="subtitle">
        <h1 id="view-attendance">View Attendance</h1>
        <div class="table-wrapper">
            <table>
                <tr>
                    <th>S.No.</th>
                    <th>Course</th>
                    <th>Semester</th>
                    <th>Month</th>
                    <th>Status</th>
                </tr>

                <!-- to avoid repetition, prefer Javascript DOM manuplation approach -->
                <tr>
                    <td>1.</td>
                    <td>B.tech</td>
                    <td>
                        <select name="" id="">
                            <option value="">Ist semester</option>
                            <option value="">2nd semester</option>
                            <option value="">3rd semester</option>
                            <option value="">4th semester</option>
                            <option value="">5th semester</option>
                            <option value="">6th semester</option>
                            <option value="">7th semester</option>
                            <option value="">8th semester</option>
                        </select>
                    </td>
                    <td>
                        <select name="" id="">
                            <option value="">Select month</option>
                            <option value="">January</option>
                            <option value="">February</option>
                            <option value="">March</option>
                            <option value="">April</option>
                            <option value="">May</option>
                            <option value="">June</option>
                            <option value="">July</option>
                            <option value="">August</option>
                            <option value="">September</option>
                            <option value="">October</option>
                            <option value="">November</option>
                            <option value="">December</option>
                        </select>
                    </td>
                    <td>
                        <a href="/list_student">
                            <button class="show-btn">Show</button>
                        </a>
                    </td>
                </tr>

                <tr>
                    <td>2.</td>
                    <td>M.tech</td>
                    <td>
                        <select name="" id="">
                            <option value="">Ist semester</option>
                            <option value="">2nd semester</option>
                            <option value="">3rd semester</option>
                            <option value="">4th semester</option>
                        </select>
                    </td>
                    <td>
                        <select name="" id="">
                            <option value="">Select month</option>
                            <option value="">January</option>
                            <option value="">February</option>
                            <option value="">March</option>
                            <option value="">April</option>
                            <option value="">May</option>
                            <option value="">June</option>
                            <option value="">July</option>
                            <option value="">August</option>
                            <option value="">September</option>
                            <option value="">October</option>
                            <option value="">November</option>
                            <option value="">December</option>
                        </select>
                    </td>
                    <td>
                        <a href="#">
                            <button class="show-btn">Show</button>
                        </a>
                    </td>
                </tr>


                <tr>
                    <td>3.</td>
                    <td>MCA</td>
                    <td>
                        <select name="" id="">
                            <option value="">Ist semester</option>
                            <option value="">2nd semester</option>
                            <option value="">3rd semester</option>
                            <option value="">4th semester</option>
                        </select>
                    </td>
                    <td>
                        <select name="" id="">
                            <option value="">Select month</option>
                            <option value="">January</option>
                            <option value="">February</option>
                            <option value="">March</option>
                            <option value="">April</option>
                            <option value="">May</option>
                            <option value="">June</option>
                            <option value="">July</option>
                            <option value="">August</option>
                            <option value="">September</option>
                            <option value="">October</option>
                            <option value="">November</option>
                            <option value="">December</option>
                        </select>
                    </td>
                    <td>
                        <a href="#">
                            <button class="show-btn">Show</button>
                        </a>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>

<!-- ============================= Report Genration =============================  -->
<div class="report">
    <div class="subtitle">
        <h1 id="generate-report">Generate Report</h1>
        <div class="table-wrapper">
            <table>
                <tr>
                    <th>S.No.</th>
                    <th>Course</th>
                    <th>Semester</th>
                    <th>Month</th>
                    <th>Status</th>
                </tr>

                <!-- to avoid repetition, prefer Javascript DOM manuplation approach -->
                <tr>
                    <td>1.</td>
                    <td>B.tech</td>
                    <td>
                        <select name="" id="">
                            <option value="">Ist semester</option>
                            <option value="">2nd semester</option>
                            <option value="">3rd semester</option>
                            <option value="">4th semester</option>
                            <option value="">5th semester</option>
                            <option value="">6th semester</option>
                            <option value="">7th semester</option>
                            <option value="">8th semester</option>
                        </select>
                    </td>
                    <td>
                        <select name="" id="">
                            <option value="">Select month</option>
                            <option value="">January</option>
                            <option value="">February</option>
                            <option value="">March</option>
                            <option value="">April</option>
                            <option value="">May</option>
                            <option value="">June</option>
                            <option value="">July</option>
                            <option value="">August</option>
                            <option value="">September</option>
                            <option value="">October</option>
                            <option value="">November</option>
                            <option value="">December</option>
                        </select>
                    </td>
                    <td>
                        <a href="/list_student">
                            <button class="show-btn">Report</button>
                        </a>
                    </td>
                </tr>

                <tr>
                    <td>2.</td>
                    <td>M.tech</td>
                    <td>
                        <select name="" id="">
                            <option value="">Ist semester</option>
                            <option value="">2nd semester</option>
                            <option value="">3rd semester</option>
                            <option value="">4th semester</option>
                        </select>
                    </td>
                    <td>
                        <select name="" id="">
                            <option value="">Select month</option>
                            <option value="">January</option>
                            <option value="">February</option>
                            <option value="">March</option>
                            <option value="">April</option>
                            <option value="">May</option>
                            <option value="">June</option>
                            <option value="">July</option>
                            <option value="">August</option>
                            <option value="">September</option>
                            <option value="">October</option>
                            <option value="">November</option>
                            <option value="">December</option>
                        </select>
                    </td>
                    <td>
                        <a href="#">
                            <button class="show-btn">Report</button>
                        </a>
                    </td>
                </tr>


                <tr>
                    <td>3.</td>
                    <td>MCA</td>
                    <td>
                        <select name="" id="">
                            <option value="">Ist semester</option>
                            <option value="">2nd semester</option>
                            <option value="">3rd semester</option>
                            <option value="">4th semester</option>
                        </select>
                    </td>
                    <td>
                        <select name="" id="">
                            <option value="">Select month</option>
                            <option value="">January</option>
                            <option value="">February</option>
                            <option value="">March</option>
                            <option value="">April</option>
                            <option value="">May</option>
                            <option value="">June</option>
                            <option value="">July</option>
                            <option value="">August</option>
                            <option value="">September</option>
                            <option value="">October</option>
                            <option value="">November</option>
                            <option value="">December</option>
                        </select>
                    </td>
                    <td>
                        <a href="#">
                            <button class="show-btn">Report</button>
                        </a>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>