<style>
    .intro {
        margin-top: 2rem;
    }
</style>
<section class="intro">
    <div class="parent">
        <div class="left">
            <h1>Attendance Automation System</h1>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Maiores id totam ut illo iure, officiis
                facilis
                at excepturi ipsa, quod, sed dolores eum! Veniam necessitatibus voluptas, debitis accusamus adipisci
                vero.</p>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Maiores id totam ut illo iure, officiis
                facilis
                at excepturi ipsa, quod, sed dolores eum!vero.</p>
        </div>
        <div class="right">
            <img src="hero_img.png" alt="hero image">
        </div>
    </div>
</section>