<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./metadata.ejs') %>
        <title>Mark Attendance</title>
        <link rel="stylesheet" href="root.css">
        <link rel="stylesheet" href="nav.css">
        <link rel="stylesheet" href="mark_attend.css">
</head>

<body>
    <%- include('./navbar/_nav.ejs') %>

        <%- include('./attendance/_mark_attend.ejs') %>

            <script src="listStudent.js"></script>
            <script src="markAttend.js"></script>
</body>

</html>