<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>homepage</title>
    <link rel="stylesheet" href="root.css">
    <style>
        body {
            margin-top: 2rem;
            font-family: var(--para-font);
        }

        h2,
        p,
        .links {
            text-align: center;
        }

        hr {
            margin: 1rem;
        }

        .links div {
            padding: .4rem;
        }

        a {
            text-decoration: none;
        }

        a:hover {
            text-decoration: underline;
        }
    </style>
</head>

<body>
    <p>We are under development
    <p>
    <p>use below URL path to explore application</p>
    <hr>

    <br><br>

    <div class="links">
        <div>
            <a href="/faculty">http://localhost:3000/faculty (main page)</a>
        </div>
        <div>
            <a href="/login">http://localhost:3000/login</a>
        </div>
        <div>
            <a href="/add_student">http://localhost:3000/add_student</a>
        </div>
        <div>
            <a href="/add_faculty">http://localhost:3000/add_faculty</a>
        </div>
        <div>
            <a href="/btech-1-year">http://localhost:3000/btech-1-year</a>
        </div>
        <div>
            <a href="/list_student">http://localhost:3000/list_student</a>
        </div>
        <div>
            <a href="/19BTCS025HY">http://localhost:3000/19BTCS025HY</a>
        </div>
        <div>
            <a href="/time_table_btech_1_year">http://localhost:3000/time_table_btech_1_year</a>
        </div>
    </div>
</body>

</html>