<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../metadata.ejs') %>
        <title>Document</title>
        <link rel="stylesheet" href="login.css">
        <link rel="stylesheet" href="nav.css">
</head>

<body>
    <%- include('../navbar/_nav.ejs') %>

        <div class="signup-container">
            <div class="signup-sections">
                <div class="left-section">
                    <img src="login_image.svg" alt="signup image">
                </div>
                <div class="right-section">
                    <h2>
                        <%= heading %>
                    </h2>
                    <i class='bx bxs-user-plus'></i>
                    <div class="signup-form">
                        <form action="/add_student" method="post">
                            <div class="form-entry">
                                <label class="red-asterisk">Name : </label>
                                <input type="text" name="name" placeholder="Ex. Mohd Zeeshan" required>
                            </div>

                            <div class="form-entry">
                                <label class="red-asterisk">Username : </label>
                                <input type="text" name="username" placeholder="Ex. zeeshan123" required>
                            </div>

                            <div class="form-entry">
                                <label class="red-asterisk">Email :</label>
                                <input type="email" name="email" placeholder="example@gmail.com">
                            </div>

                            <div class="form-entry">
                                <label class="red-asterisk">Course :</label>
                                <select name="course">
                                    <option value="B.Tech">B.Tech</option>
                                    <option value="M.Tech">M.Tech</option>
                                    <option value="MCA">MCA</option>
                                </select>
                            </div>

                            <div class="form-entry">
                                <label class="red-asterisk">Year :</label>
                                <select name="year">
                                    <option value="1">Ist year</option>
                                    <option value="2">2nd year</option>
                                    <option value="3">3rd year</option>
                                    <option value="4">4th year</option>
                                </select>
                            </div>

                            <div class="form-entry">
                                <label class="red-asterisk">Roll No. :</label>
                                <input type="text" name="rollno" placeholder="Ex. 19BTCS0XXHY" required>
                            </div>


                            <div class="form-entry">
                                <label class="red-asterisk">Enrollment No. :</label>
                                <input type="text" name="enrollno" placeholder="Ex. A19XXXX" required>
                            </div>


                            <div class="form-entry">
                                <label class="red-asterisk">Contact No. :</label>
                                <input type="text" name="contactno" placeholder="9876543210">
                            </div>

                            <div class="form-entry">
                                <label class="red-asterisk">Password :</label>
                                <input type="password" name="password" placeholder="password please" required>
                            </div>

                            <div class="form-entry">
                                <label class="red-asterisk">Confirm Password :</label>
                                <input type="password" name="confirm_password" placeholder="confirm password" required>
                            </div>

                            <button class="submit-btn">Submit</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
</body>

</html>