<style>
    .attend-action-btns {
        display: flex;
        justify-content: center;
    }

    .attend-action-btns button {
        margin: 12px 3px;
        padding: 6px 20px;
        font-family: var(--fancy-font);
        font-weight: 500;
        font-size: 14px;
    }
</style>
<div class="attend-action-btns">
    <div class="clear">
        <button>Clear</button>
    </div>
    <div class="submit">
        <button>Submit</button>
    </div>
</div>