<nav>
    <div class="landing-brand">
        <a href="/">
            <i class='bx bx-grid-alt'></i>
            <span>AAS</span>
        </a>
    </div>
    <div class="landing-date">
        <p class="todays-date">dd-mm-yyyy</p>
    </div>
</nav>

<script src="todays_date.js"></script>
<script>
    document.querySelector(".todays-date").innerHTML = todays_date();
</script>