<nav>
    <div class="container">
        <div class="logo">
            <a href="/">
                <i class='bx bx-grid-alt'></i>
                <span><strong>AAS</strong></span>
            </a>
        </div>

        <div class="hamburger">
            <i class='bx bx-menu'></i>
        </div>

        <div class="nav-list open">
            <li>
                <a href="#home">Home</a>
            </li>
            <li><a href="#mark-attendance">Attendance <i class='bx bx-chevron-down'></i></a>
                <ul class="dropdown-list">
                    <li><a href="#mark-attendance">Mark Attendance</a></li>
                    <li><a href="#view-attendance">View Attendance</a></li>
                    <li><a href="#generate-report">Generate Report</a></li>
                </ul>
            </li>
            <li>
                <a href="#">Time Table <i class='bx bx-chevron-down'></i></a>
                <ul class="dropdown-list">
                    <li><a href="time_table_btech_1_year">B.tech Ist year</a></li>
                    <li><a href="#">B.tech 2nd year</a></li>
                    <li><a href="#">B.tech 3rd year</a></li>
                    <li><a href="#">B.tech 4th year</a></li>
                    <li><a href="#">M.tech Ist year</a></li>
                    <li><a href="#">M.tech 2nd year</a></li>
                    <li><a href="#">MCA Ist year</a></li>
                    <li><a href="#">MCA 2nd year</a></li>
                </ul>
            </li>
            <li>
                <a href="#">Add User <i class='bx bx-chevron-down'></i></a>
                <ul class="dropdown-list">
                    <li><a href="/add_faculty">Faculty</a></li>
                    <li><a href="/add_student">Student</a></li>
                </ul>
            </li>
            <li>
                <a href="/logout">
                    <button class="logout-btn">Logout</button>
                </a>
            </li>
        </div>
    </div>
</nav>

<script>
    const hamburger = document.querySelector(".hamburger");
    const nav_list = document.querySelector(".nav-list");

    hamburger.addEventListener("click", () => {
        nav_list.classList.toggle("open");
    });
</script>